@import '~@angular/material/prebuilt-themes/indigo-pink.css';

:root {
  --primary-color: #673ab7;
  --accent-color: #e91e63;
  --warn-color: #f44336;
}

.mat-app-background {
  background-color: var(--primary-color);
}

.mat-button {
  background-color: var(--accent-color);
}
