.checkout {
  background-color: #E6E6FA;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #4B0082;
}

.checkout-form {
  display: flex;
  flex-direction: column;
}

mat-form-field {
  margin-bottom: 15px;
}

button {
  background-color: #4B0082;
  color: white;
  width: 100%;
}

button:hover {
  background-color: #6A5ACD;
}
