body {
  background-color: #673ab7; /* Deep purple background */
  color: white; /* Optional: Change text color for better contrast */
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  background-color: var(--primary-color); /* Use variable from :root for background */
}

mat-card {
  background-color: white; /* Light background for the card */
  color: black; /* Text color inside the card */
  border-radius: 8px;
}
