
.shopping-cart {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.item-card {
  margin-bottom: 15px;
  max-width: 300px;
  width: 100%;
}

.product-image {
  width: 50%;
  height: 50%;
  max-height: 150px;
  object-fit: contain; /* Ensure images are properly contained */
}

.price {
  font-weight: bold;
  font-size: 1.2em;
  color: #4B0082;
}
